.container {
  width: 100%;
  overflow-x: auto;
  padding-top: 1rem;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;

  thead {
    background-color: var(--background-color);

  }
}

.add {
  margin-left: 1.25rem;
}

.tabela th,
.tabela td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #E0E0E0;
  color: var(--brand-colors-primary);
}

.ativo {
  color: var(--accent-success);
  font-weight: bold;
}

.inativo {
  color: var(--accent-error);
  font-weight: bold;
}

@media (max-width: 978px) {

  .tabela th,
  .tabela td {
    padding: 0.5rem; 
    font-size: 0.875rem;
  }
}