.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.button-cases {
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: var(--brand-colors-primary);
  color: var(--white);

  &:hover {
    background-color: var(--hover-effect-primary);
  }
}

.primary {
  background-color: var(--brand-colors-primary);
  color: var(--white);

  &:hover {
    background-color: var(--hover-effect-primary);
  }
}

.secondary {
  background-color: var(--brand-colors-secondary);
  color: var(--black);

  &:hover {
    background-color: var(--hover-effect-secondary);
  }
}

.small-primary {
  background-color: var(--brand-colors-primary);
  color: var(--white);
  width: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;

  &:hover {
    background-color: var(--hover-effect-primary);
  }
}

.small-secondary {
  background-color: var(--brand-colors-secondary);
  color: var(--black);
  width: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;

  &:hover {
    background-color: var(--hover-effect-secondary);
  }
}

.generic-primary {
  width: 35%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem auto 0 auto;
  background-color: var(--brand-colors-primary);
  color: var(--white);

  &:hover {
    background-color: var(--hover-effect-primary);
  }
}

.generic-secondary {
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: var(--brand-colors-secondary);
  color: var(--black);

  &:hover {
    background-color: var(--hover-effect-secondary);
  }
}

.disabled {
  background-color: var(--desabled-background);
  color: var(--desabled-color);
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 600px) {
  .button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
}