.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.button-table {
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: var(--brand-colors-primary);
  color: var(--white);

  &:hover {
    background-color: var(--hover-effect-primary);
  }
}

.primary {
  background-color: var(--brand-colors-primary);
  color: var(--white);

  &:hover {
    background-color: var(--hover-effect-primary);
  }
}

.secondary {
  background-color: var(--brand-colors-secondary);
  color: var(--black);

  &:hover {
    background-color: var(--hover-effect-secondary);
  }
}

.small-primary {
  background-color: var(--brand-colors-primary);
  color: var(--white);
  width: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;

  &:hover {
    background-color: var(--hover-effect-primary);
  }
}

.small-secondary {
  background-color: var(--brand-colors-secondary);
  color: var(--black);
  width: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;

  &:hover {
    background-color: var(--hover-effect-secondary);
  }
}

.generic-primary {
  width: 35%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem auto 0 auto;
  background-color: var(--brand-colors-primary);
  color: var(--white);

  &:hover {
    background-color: var(--hover-effect-primary);
  }
}

.generic-secondary {
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: var(--brand-colors-secondary);
  color: var(--black);

  &:hover {
    background-color: var(--hover-effect-secondary);
  }
}

.disabled {
  background-color: var(--desabled-background);
  color: var(--desabled-color);
  cursor: not-allowed;
  pointer-events: none;
}

.button-cancel {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto 0 auto;
  background-color: var(--accent-error);
  color: var(--white);

  &:hover {
    background-color: #C0392B;
  }
}

.button-save {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto 0 auto;
  background-color: var(--accent-success);
  color: var(--white);

  &:hover {
    background-color: #1E8449;
  }
}

@media (max-width: 978px) {
  .button {
    max-width: 50%;
  }

  .generic-secondary {
    width: 100%;
  }
}