.content {
    display: flex;
}

.caseContent {
    margin-left: 21.5rem;
    margin-top: 4.6rem;
    width: calc(100% - 23rem);
    padding: 1rem 1rem;
}

.title {
    color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.pag {
    padding: 5px 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}