.content {
    display: flex;
    background: var(--light-background);
    margin: auto;
}

.marginContent {
    width: 60%;
    margin: auto;
    max-width: 800px;
    min-width: 550px;
    padding: 2rem;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    h1 {
        color: var(--brand-colors-primary);
        margin-bottom: 1rem;
    }
}

.margin {
    margin: 6rem 0 2rem 20rem;
    width: 100%;
}

.caseDetails {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.caseSection {
    background-color: var(--light-background);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

}

.caseSection h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 0.5rem;
    color: var(--brand-colors-primary);
}

legend {
    color: var(--brand-colors-primary);
}

.caseSection p {
    margin: 0.4rem 0;
    color: var(--brand-colors-primary);
}

.caseSection p strong {
    color: var(--brand-colors-primary);
}

.answers {
    color: var(--brand-colors-primary);
}

.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    background-color: #f1f1f1;
    position: relative;
    padding: 1rem 1rem 4rem 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.card p {
    margin: 0.3rem 0;
}

.caseSection ul {
    margin: 1rem 0 1.5rem 1rem;
    color: var(--brand-colors-primary)
}

.imageWrapper {
    margin-top: 10px;
}

.imagePreview {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-top: 5px;
}

.generateReportContainer {
    text-align: center;
}

@media screen and (max-width: 978px) {
    .marginContent {
        margin:auto;
        margin-top: 6.375rem;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        min-width: 0;
    }

    .margin {
        margin: 0;
        width: 100%;
        background-color: var(--white);

    }

  }
  

