.content {
    display: flex;
    background: var(--light-background);
    margin: auto;
}

.marginContent {
    width: 60%;
    max-width: 50rem; 
    min-width: 34.375rem;
    padding: 2rem;
    margin: auto;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    h1 {
        color: var(--brand-colors-primary);
        margin-bottom: 1rem;
    }
}

.nicInput {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}

.deleteNic {
    height: 2.3rem;
    width: 2.5rem;
    background-color: var(--accent-error);
    color: white;
    border: 1px rgb(233, 128, 128) solid;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
        opacity: 0.9;
    }
}

form {
    display: flex;
    flex-direction: column;
    color: var(--brand-colors-primary);

    label {
        width: 100%;
        font-weight: bold;
    }
}

form input,
form select,
form textarea {
    flex: 1 1 calc(50% - 1rem);
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 0.5rem;
}

fieldset {
    width: 100%;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    padding: 0 0.5rem;
}

.questionContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.professionalsFieldset {
    margin-bottom: 0;
}

.professionalsList {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1.5rem 0;
    list-style: none;
    padding: 0;
}

.professionalOption label {
    font-weight: normal;
}

.check {
    width: 0.875rem;
    margin-right: 0.625rem;
    margin-top: 0;
    margin-bottom: 0;
}

.inputDisabled {
    opacity: 0.5;
}

.selectedProfessionals {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1.5rem 0;
    gap: 0.5rem;
}

.selectedList {
    margin: 0.5rem 1rem;
}

.margin {
    margin: 6rem 0 2rem 20rem;
    width: 100%;
}

@media screen and (max-width: 978px) {
    .content {
        display: flex;
        flex-direction: column;
        background: var(--light-background);
        margin: auto;
    }

    .marginContent {
        margin: auto;
        margin-top: 6.375rem;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        min-width: 0;
    }

    .margin {
        margin: 0;
        width: 100%;
        background-color: var(--white);
    }
}