.input {
    width: 28.75rem;
    border-radius: 5px;
    border: 1px solid #808080;
    height: 66%;
    padding: 0.1875rem 2.5rem 0.1875rem 0.625rem;
    background: var(--light-background);

    &:focus {
        outline: none;
    }
}

.InputSearch {
    width: 20rem;
    padding: 0.625rem;
    margin: 0.625rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--light-background);
}

.primary {
    padding: 0;
}

.secondary {
    padding: 0.625rem;
    margin: 0.625rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--light-background);
}

@media screen and (max-width: 978px) {
    .input {
        width: 100%;
    }
}