.input {
    width: 28.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #808080;
    height: 66%;
    padding: 0.1875rem 2.5rem 0.1875rem 0.625rem;
    background: var(--light-background);

    &:focus {
        outline: none;
    }
}

.primary {
    padding: 0;
}

.secondary {
    padding: 0.5rem;
}