.content {
    display: flex;
    background: var(--light-background);
}

.marginContent {
    margin: 6rem 0 0 26rem;
}

.marginContent {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;

    h1 {
        color: var(--brand-colors-primary);
    }
}