.content {
    display: flex;
    background: var(--light-background);
    height: 100vh;
}

.caseContent {
    margin-left: 21.5rem;
    margin-top: 4.6rem;
    width: calc(100% - 23rem);
    padding: 1rem 1rem;


    .title {
        color: var(--brand-colors-primary);
        margin-bottom: 1.25rem;
    }
}

.inputArea {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.inputDate {
    width: auto;
}

.filter {
    width: auto;
}

.pag {
    width: 3%;
    padding: 0.3125rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: var(--brand-colors-secondary);
    color: var(--black);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-effect-secondary);
    }
}


select {
    width: 100%;
    padding: 0.625rem;
    margin: 0.625rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--light-background);
}

@media screen and (max-width: 978px) {
    .content {
        display: flex;
        background: var(--light-background);
        flex-direction: column;
    }

    .caseContent {
        margin-left: 0;
        margin-top: 4.375rem;
        width: 100%;
        padding: 1rem 1rem;

        .title {
            color: var(--brand-colors-primary);
            margin-bottom: 1.25rem;
        }
    }


   .inputArea {
    display: block;

}
   
    

    .filterArea {
        display: flex;
        justify-content: right;
}

    .pag {
        padding: 0.5rem 1.5rem 0.5rem 1rem;
    }
}