.botao {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imagemDente {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.numeroDente {
  font-weight: bold;
  margin-top: 4px;
  font-size: 14px;
  color: #333;
}



/* Exemplo de cores para estados */
.saudavel img {
  background: linear-gradient(45deg, #4caf50 50%, #81c784 50%);
  border-radius: 50%;
  padding: 0.35rem;
}

.ausente img {
  background: linear-gradient(45deg, #f44336 50%, #fe8f87 50%);
  border-radius: 50%;
  padding: 0.35rem;
}

.restaurado img {
  background: linear-gradient(45deg, #2196f3 50%, #64b5f6 50%);
  border-radius: 50%;
  padding: 0.35rem;
}

.fraturado img {
  background: linear-gradient(45deg, #f3ec21 50%, #f2ecb5 50%);
  border-radius: 50%;
  padding: 0.35rem;
}

.cariado img {
  background: linear-gradient(45deg, #000000 50%, #666666 50%);
  border-radius: 50%;
  padding: 0.35rem;
}

.implante img {
  background: linear-gradient(45deg, #9521f3 50%, #c691fb 50%);
  border-radius: 50%;
  padding: 0.35rem;
}

.outro img {
  background: linear-gradient(45deg, #999999 50%, #cccccc 50%);
  border-radius: 50%;
  padding: 0.35rem;
}
@media screen and (max-width: 680px) {
  .imagemDente {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

  .botao {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 680px) {
  .imagemDente {
    width: 38px;
    height: 38px;
    object-fit: contain;
}

  .botao {
    width: 55px;
    height: 65px;
  }
}