.nav {
    position: fixed;
    margin-top: 4.563rem;
    height: calc(100vh - 4.563rem);
    background-color: var(--brand-colors-primary);
    width: 20rem;
    color: var(--white);
    padding: 2rem;
}

.image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

img {
    width: 9rem
}

.item {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.item:hover {
    color: var(--icons);
    cursor: pointer;
}