.nav {
    position: fixed;
    margin-top: 4rem;
    height: calc(100vh - 4rem);
    background-color: var(--brand-colors-primary);
    width: 20rem;
    color: var(--white);
    padding: 2rem;
    z-index: 1000;
}

.image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;

    img {
        width: 9rem;
    }
}

.icon {
    color: var(--icons);
    font-size: 32px; 
}

.item {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;

    &:hover {
        color: var(--icons);
        cursor: pointer;
    }
}

.itemMenu {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    display: none;

    &:hover {
        color: var(--icons);
        cursor: pointer;
    }

}

.back {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: var(--brand-colors-secondary);
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
        color: var(--hover-effect-secondary);
    }
}

@media screen and (max-width: 978px) {
    .nav {
        top: -4rem;
        position: fixed;
        width: 100%;
        height: 4.375rem;
    }

    .image {
        position: absolute;
        top: -0.3rem;
        left: 0.4375rem;

        img {
            height: 75px;
            width: 75px;
        }
    }

    .item {
        height: 4.6875rem;
        width: 4.6875rem;
        display: none;
    }

    .menuIcon {
        color: var(--icons);
        margin-right: 10px;
        font-size: 32px; 
    }

    .menu {
        position: absolute;
        top: 2.5rem;
        width: 13.75rem;
        right: 0;
        background: var(--light-background);
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 0.625rem;
        display: flex;
        flex-direction: column;
        gap: 0.3125rem;
        z-index: 1000;
    }

    .itemMenu {
        color: var(--brand-colors-primary);
        display: block;
        position: absolute;
        right: 0.9375rem;
        top: 1.25rem;

        &:hover {
            color: var(--hover-effect-primary);
            cursor: pointer;
        }
    }

    .itemH {
        &:hover {
            color: rgb(212, 212, 212);
        }
    }
}