.nav {
    position: fixed;
    top: 4.563rem; 
    left: 0;
    height: calc(100vh - 4.563rem);
    background-color: var(--blue-800);
    width: 23rem;
    color: white;
    padding: 3rem;
}

.image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
}

.item:hover {
    color: var(--icons);
    cursor: pointer;
}