.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--hover-effect);
    height: 4.563rem;
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 1.875rem;
    justify-content: space-between;
    font-size: 1.25rem;   
    font-weight: 700;
}

.info {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.role {
    font-size: 1.25rem;
    font-weight: 600;
}

.name {
    font-size: 1.25rem;;
    font-weight: 500;
}