.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--hover-effect);
    height: 4.563rem;
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 1.875rem;
    justify-content: space-between;
    font-size: 1.25rem;   
    font-weight: 700;
}

.info {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.role {
    font-size: 1.25rem;
    font-weight: 600;
}

.name {
    font-size: 1.25rem;;
    font-weight: 500;
}

.menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100px;
    background-color: #222;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;

}

.open {
    right: 0;
    top: 60px;
}

@media screen and (max-width: 978px) {
    .content {
        display: none;
    }
}