.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--hover-effect-primary);
    height: 4rem;
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 1.875rem;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 700;
}

.info {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.role {
    font-size: 1.25rem;
    font-weight: 600;
}

.name {
    font-size: 1.25rem;
    font-weight: 500;
}

.menu {
    position: fixed;
    top: 0;
    right: -15.625rem;
    width: 15.625rem;
    height: 6.25rem;
    background-color: #222;
    color: var(--white);
    padding: 1.25rem;
    transition: left 0.3s ease;
    z-index: 1000;

}

.open {
    right: 0;
    top: 3.75rem;
}

@media screen and (max-width: 978px) {
    .content {
        display: none;
    }
}