.registerButton {
    background-color: #4CAF50; /* Cor de fundo verde */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto branco */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove o sublinhado padrão */
    display: inline-block; /* Comportamento em linha */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margens */
    cursor: pointer; /* Cursor ao passar o mouse */
    border-radius: 5px; /* Borda arredondada */
  }
  
  .registerButton:hover {
    background-color: #3e8e41; /* Cor de fundo mais escura no hover */
  }