.nav_container {
    display: flex;
    background: var(--light-background);
    margin: auto;
}

.evidence_registration {
    width: 60%; 
    max-width: 800px; 
    min-width: 550px; 
    margin: auto;
    padding: 2rem;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    h1 {
        color: var(--brand-colors-primary);
        margin-bottom: 1rem;
    }
}

.margin {
    margin: 6rem 0 2rem 20rem;
    width: 100%;
}

label {
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--light-background);
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--light-background);
}

select {
    width: 100%;
}

@media screen and (max-width: 978px) {
    .nav_container {
        display: flex;
        flex-direction: column;
        background: var(--light-background);
        margin: auto;
    }
    
    .evidence_registration {
        margin:auto;
        margin-top: 6.375rem;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        min-width: 0;
    }


    .margin {
        margin: 0;
        width: 100%;
        background-color: var(--white);

    }
}