.nav_container {
    display: flex;
    background: var(--light-background);
    margin: auto;
}

.evidence_registration {
    width: 60%; 
    max-width: 800px; 
    margin: 6rem 0 2rem 27rem;
    padding: 2rem;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    h1 {
        color: var(--brand-colors-primary);
        margin-bottom: 1rem;
    }
}

label {
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--light-background);
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--light-background);
}

select {
    width: 100%;
}