.content {
  display: flex;
  background: var(--light-background);
  height: 100vh;
}

.contentDiv {
  margin-left: 21.5rem;
  margin-top: 4.6rem;
  width: calc(100% - 23rem);
  padding: 1rem 1rem;

  .title {
    color: var(--brand-colors-primary);
    margin-bottom: 1.25rem;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.activePage {
  width: 3%;
  padding: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background: var(--brand-colors-secondary);
  color: var(--black);

  &:hover {
    background-color: var(--hover-effect-secondary);
  }
}