.content {
  display: flex;
  background: var(--light-background);
  height: 100vh;
}

.contentDiv {
  margin-left: 21.5rem;
  margin-top: 4.6rem;
  width: calc(100% - 23rem);
  padding: 1rem 1rem;

  .title {
    color: var(--brand-colors-primary);
    margin-bottom: 1.25rem;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.activePage {
  width: 3%;
  padding: 0.3125rem;
  margin-top: 1rem;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background: var(--brand-colors-secondary);
  color: var(--black);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-effect-secondary);
  }
}

@media screen and (max-width: 978px) {
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .contentDiv {
    margin-left: 0;
    padding: 1rem;
    width: 100%;
  }

  .activePage {
    padding: 0.5rem 1.5rem 0.5rem 1rem;
  }
}